version: 2
updates:
- package-ecosystem: cargo
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 20
  rebase-strategy: disabled
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
